LMSTUDIO_BASE_URL=http://host.docker.internal:1234/v1
LMSTUDIO_MODEL=google/gemma-3-4b
TRANSLATION_TEMPERATURE=0.1
TRANSLATION_CHUNK_MAX_CHARS=12000
TRANSLATION_CHUNK_MAX_ITEMS=200
TRANSLATION_DEBUG_FALLBACK=true
TRANSLATION_TEST_MODE=false
TRANSLATION_TEST_CHAPTER_LIMIT=5
